<form>
  {{!-- House name --}}
  <div class="form-group">
      <label for="HouseName">House Name</label>
      {{input value="HouseName" id="HouseName" class="form-control"}}

  </div>
  {{!-- House name --}}
  <div class="form-group">
      <label for="HouseDescription">House Name</label>
      {{textarea col="30" row="80" value="HouseDescription" id="HouseDescription" class="form-control"}}

  </div>



  {{!-- national id --}}
  <div class="form-group">
      <label for="natId">National Id</label>

        {{input value="natId" id="natId" class="form-control"}}
  </div>
  {{!-Telephone -  --}}
  <div class="form-group">
      <label for="telNumber">Telephone Number</label>

      {{input value="telNumber" id="telNumber" class="form-control"}}
  </div>
  {{!-- occupation  --}}
  <div class="form-group">
      <label for="occupation">Occupation</label>
        {{input value="occupation" id="occupation" class="form-control"}}
  </div>
  {{!-- city --}}
  <div class="form-group">
      <label for="city">City</label>
        {{input value="city" id="city" class="form-control"}}
  </div>
  {{!--  Street--}}
  <div class="form-group">
      <label for="street">Street</label>
      {{input value="street" id="street" class="form-control"}}
  </div>
  {{!--rule  --}}
  <div class="form-group">
      <label for="rules">Rules</label>
    {{input value="rules" id="rules" class="form-control"}}
  </div>
  {{!-- ammenities --}}
  <div class="form-group">
      <label for="ammenities">Ammenities</label>
    {{input value="ammenities" id="ammenities" class="form-control"}}
  </div>
  {{!--price  --}}
  <div class="form-group">
      <label for="price">Price</label>
      {{input value="price" id="price" class="form-control"}}
  </div>

  <button class="btn btn-default btn-lg" {{action "submit"}}>Add Home</button>


</form>
