<form id="add-new-home-form-form">
  {{!-- House name --}}
  <div class="form-group">
      <label for="HouseName">House Name</label>
      {{input placeholder="HouseName" value="house-name" id="HouseName" class="form-control"}}

  </div>
  {{!-- House description --}}
  <div class="form-group">
      <label for="HouseDescription">House Description</label>
      {{textarea col="30" row="80" placeholder="HouseDescription" value="house-description" id="HouseDescription" class="form-control"}}

  </div>

  {{!-Telephone -  --}}
  <div class="form-group">
      <label for="telNumber">Telephone Number</label>

      {{input placeholder="telNumber" value="tel-number" id="tel-number" class="form-control"}}
  </div>

  {{!-- city --}}
  <div class="form-group">
      <label for="city">City</label>
        {{input placeholder="city" value="city" id="city" class="form-control"}}
  </div>

  {{!--  Street--}}
  <div class="form-group">
      <label for="street">Street</label>
      {{input placeholder="street" value="street" id="street" class="form-control"}}
  </div>

  {{!--rule  --}}
  <div class="form-group">
      <label for="rules">Rules</label>
    {{input placeholder="rules" value="rules" id="rules" class="form-control"}}
  </div>

  {{!-- ammenities --}}
  <div class="form-group">
      <label for="ammenities">Ammenities</label>
    {{input placeholder="ammenities" value="ammenities" id="ammenities" class="form-control"}}
  </div>

  {{!--price  --}}
  <div class="form-group">
      <label for="price">Price</label>
      {{input placeholder="price" value="price" id="price" class="form-control"}}
  </div>

  <button type="submit" class="btn btn-default btn-lg" {{action "submit"}}>Add Home</button>


</form>
